include:
  - project: 'default/base'
    ref: 'main'
    file: '.php.gitlab-ci.yml'

variables:
  IMAGE_TAG: $CI_REGISTRY_IMAGE:latest
  DOCKERFILE: "docker/Dockerfile"

validate:
  extends: .base_validate

build:
  extends: .base_build

deploy:
  extends: .base_deploy
